/*Laura Robinson Coding Dojo CSS exercise 2*/
*{
    font: inherit;
    font-size: 100%;
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
} 
ol, ul {
    list-style: none;
    font-size: 11px;
    margin-left: 20px;
}

a {
	color: #840000;
}
body {
	font-family: verdana, arial, sans-serif;
}

h2, h3  {
	color: #840000;
	margin: 10px 0px;
	font-weight: bold;
	}
	h2 {
		font-size: 15px;
	}
	h3 {
		font-size: 11px;
}
p {
	margin: 10px 0px;
	font-size: 11px;	
}
hr {
	margin: 10px 0px;
	height: 1px;
	background-color: #6B6C68; 
	color: #6B6C68; 
}
.container {
	width: 960 px;
	margin: 0px auto;
	/*border: 1px solid black;	*/
}
/*banner and header box styles*/
#header { 
		background-color: #840000;
		width: 100%; 
		height: 100%;
	}
	#header_text {
		padding-top: 5px;
		padding-right: 40px;
		text-align: right;
		height: 68px;
		color: white;
		font-size: 10px;
	}
	#header img {
		float: left;
	}
	#header a {
		color: rgb(255,203,97);
		font-weight: lighter;
	}
	#header form {
		margin-top: 10px;
	}
	#search {
	background-color: #840000;
	color: white;
	border: 1px solid white;
	padding: 2px 5px;
	font-size: 9px;
	font-weight: lighter;
	}
	#textbox {
	font-size: 9px;
	padding: 2px 5px;
	width: 100px;
	color: #6B6C68;
}

/*main menu navigation styles*/	
#main_nav {
		background-color: #E2E2E2;
		clear:both;
		border: 1.5px solid rgb(180,180,180);
		font-size: 10px;
		color: #6B6C68;
		font-weight: bold;
		padding: 5px;
	}
	#main_nav li {
		display: inline;
		margin: 0 5px;
		vertical-align: middle;
		}	
		#main_nav li.vert_line {
		color: rgb(180,180,180);
		font-weight: lighter;
		font-size: 15px;

}	

/*side nav styles*/
#side_nav {
		float: left;
		background-color: #E2E2E2;
		border: 1.5px solid rgb(180,180,180);
		width: 140px;
		font-size: 10px;
		text-align: left;
		margin: 20px;
    	color: #840000;
    	padding: 5px;		
	}

	#side_nav ul {
		margin-right: auto;
		margin-left: 10px;
		padding: 0px 5px;
		text-indent: -1.2em;
		list-style-position: outside;

	}
	#side_nav li:before {
	    content: ">> ";
	    font-size: 6px;
	}

	#side_nav li {
		margin: 5px;
}

/*main content styles*/
#body_content {
	float: left;
	width: 600px;
	margin: 20px auto;
	
	}
	#body_content ul li {
		list-style-type: disc;
		margin-left: 15px;
	}
	#body_content ol li {
		list-style-type: decimal;
		margin-left: 15px;
	}
	#body_content .date {
		font-weight: bold;
}

